$background-color: white;
$foreground-color: #f5f8fa;

// $background-color: #f5f8fa;
// $foreground-color: rgba(255, 255, 255, 1);
$container-radius: 2rem;
$accent: #eb4545;
// $accent: #1b95e0;

html{
    background-color: $background-color;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.xdash{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header tweets mood"
                         "popaccount tweets popcountry"
                         "popaccount tweets popcountry";
    height: 100vh;
    max-height: 100vh;
    margin: 0 10rem 0 10rem;
    padding: 2.2rem 1rem 2.2rem 1rem;
    gap:1rem;
}

.xfactor-header{
    display: flexbox;
    grid-area: header;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    padding: 1.5rem;
}

.widget-header{
    font-size: 1.35em;
    // text-align: center;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // font-family: 'Quicksand', sans-serif !important;
    color: rgba($color: #383838, $alpha: 1.0);
    font-weight: 650;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin: 0;
}

// .mood-header{
//     // font-family: 'Quicksand', sans-serif !important;
//     // font-weight: 600;
//     // width: 100%;
//     padding: 0 0.4rem 0.2rem 0 !important;
// }

hr{
    margin: 0;
}

.x-logo{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-position: center;
    object-fit: scale-down;
    align-self: center;
    justify-self: center;
}

.tweet-flex{
    display: flexbox;
    align-content: end;
    align-items: stretch;
    justify-content: end;
    justify-items: stretch;
    flex-direction: row;
    width: 100%;
    padding: 0 0 0.8rem 0;
}

.tweet-button{
    border-radius: 5rem;
    flex-shrink: 1;
    height: 100%;
    width: 13%;
    background-color: $accent;
    border-color: rgba($color: rgb(255, 72, 72), $alpha: 1.0);
    align-self: flex-start;
    color: white;
    font-weight: 800;
}

.avatar{
    border-radius: 10rem !important;
    background-color: rgba($color: #1a84db, $alpha: 1.0);

    
}
// .avatar:nth-child(3n + 2){
//         background-color: rgba($color: #0f64aa, $alpha: 1.0);
//     }
//     .avatar:nth-child(4n + 3){
//         background-color: rgba($color: #297cac, $alpha: 1.0);
//     }

.tweet-input{
    // flex-basis: 4;
    width: 85%;
    border-radius: 2rem;
    border-color: $accent !important;
    border-style: solid !important;
    height: 100%;
    padding: 0 1rem 0 1rem;
    // border:  0.1rem  #3344EE !important;
}

.pop-country-container{
    grid-area: popcountry;
    background-color: $foreground-color;
    width: 100%;
    // padding: 0;
    // padding: 1rem 0 1rem 0 !important;

    height: 100%;
    border-radius: $container-radius;
}

.positivity-container{
    grid-area: mood;
    background-color: $foreground-color;
    height: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: $container-radius;
    // padding: 0.3rem 1rem 0.6rem 1rem;
}

.another-mood-container{
    height: 80%;
    max-height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;

    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.positivity-canvas{
    height: 100%;
    max-height: 100%;
    display: inline-block;
    width: 40%;
    object-fit: scale-down;
    padding: 0.4rem 0 0.4rem 0;
}

.left-container{
    grid-area: tweets;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    width: 100%; 
    max-width: 100%;
    overflow: hidden;   
}

.tweet-list-container{
    margin-bottom: 1rem;
    max-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: $container-radius;
    background-color: $foreground-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tweet-scroll{
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.tweet-list{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    height: 100%;
    max-height: 100%;
    width: 100%;

    .stream-item{
        transition: all ease-in-out 0.3s;
        // background-color: white;
        animation-duration: 0.1s;
        border-radius: 1rem !important;
        border: none !important;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}


//Popularity
.pop-account-container{
    grid-area: popaccount;
    background-color: $foreground-color;
    width: 100%;
    // padding: 0;
    // padding: 1rem 0 1rem 0 !important;

    height: 100%;
    border-radius: $container-radius;
    overflow-y: hidden;
}
.pop-account-list{
    margin: 0 !important;
    list-style: none !important;
    margin: 0;
    padding: 0;
}

// .pop-account-item:last-child{
//     border-radius: 0 0 $container-radius $container-radius;
// }

hr{
    padding: 0 !important;
    margin: 0 !important;
}

.pop-account-item{
    // display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    // background-color: rgba(200,100,200,0.5);
    list-style: none !important;
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}

.pop-account-link{
    // padding: 0 0.3rem 0 0.3rem;
    display: inline-block;
    padding: 0.83rem 1rem 0.83rem 1rem;    
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // &:first{
    // }

}

