$background-color: white;
$foreground-color: #f5f8fa;

// $background-color: #f5f8fa;
// $foreground-color: rgba(255, 255, 255, 1);
$container-radius: 2rem;
$accent: #1b95e0;

html{
    background-color: $background-color;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.xdash{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header tweets mood"
                         "popaccount tweets popcountry"
                         "popaccount tweets popcountry";
    height: 100vh;
    max-height: 100vh;
    margin: 0 10rem 0 10rem;
    padding: 2.2rem 1rem 2.2rem 1rem;
    gap:1rem;
}

.xfactor-header{
    // display: flexbox;
    grid-area: header;
}

.pop-country-container{
    grid-area: popcountry;
    width: 100%;
    height: 100%;
}

.positivity-container{
    grid-area: mood;
    background-color: $foreground-color;
    height: 100%;
    border-radius: $container-radius;
    padding: 0 1rem 0 1rem;
}



.left-container{
    grid-area: tweets;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    width: 100%; 
    max-width: 100%;
    overflow: hidden;   
}

.tweet-input{
    border-radius: 2rem;
    border-color: $accent !important;
    border-style: solid !important;
    // border:  0.1rem  #3344EE !important;
}

.tweet-list-container{
    margin-bottom: 1rem;
    max-height: 100%;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
}

//Popularity
.pop-account-container{
    grid-area: popaccount;
    background-color: $foreground-color;
    width: 100%;
    // padding: 0;
    // padding: 1rem 0 1rem 0 !important;

    height: 100%;
    border-radius: $container-radius;
}
.pop-account-list{
    margin: 0 !important;
    list-style: none !important;
    &:first-child{
        border-radius: $container-radius $container-radius 0 0;
    }
}
hr{
    padding: 0 !important;
    margin: 0 !important;
}

.pop-account-item{
    
    // display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    // background-color: rgba(200,100,200,0.5);
    list-style: none !important;
}

.pop-account-link{
    // padding: 0 0.3rem 0 0.3rem;
    display: inline-block;
    padding: 1rem 1rem 1rem 1rem;    
    margin: 0;
    width: 100%;
    height: 100%;
    &:hover{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    // &:first{
    // }

}

ol{
    margin: 0;
    padding: 0;
}

.tweet-list{
    border-radius: $container-radius;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $foreground-color;
    padding: 0.5rem;
    height: 100%;
    width: 100%;

    .stream-item{
        // background-color: white;
        border-radius: 1rem !important;
        border: none !important;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}